@use "../abstract/variables" as variables;

.document-upload {
  background-color: variables.$color-white;
  border-radius: variables.$radius-md;
  gap: variables.$general-gap;
  min-height: fit-content;
  padding: variables.$padding-lg 2rem;

  &-document-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: variables.$margin-lg;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: variables.$color-blue variables.$color-gray-light;

    &-add-on {
      background-color: variables.$color-gray;
      height: 10rem;
      width: 100%;
      border-radius: variables.$radius-sm;
      padding: variables.$padding-md;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
