@use "../abstract/variables" as variables;
@use "../abstract/mixins" as mixins;

.main-body {
  display: grid;
  grid-template-rows: minmax(fit-content, auto) 1fr;
  gap: variables.$general-gap;
  height: calc(100vh - variables.$body-start-margin);
  width: calc(100% - variables.$body-start-margin);
  margin-left: variables.$body-start-margin;
  margin-top: variables.$body-start-margin;

  & .main-body-head {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      height: 100%;
      gap: variables.$general-gap;
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: variables.$head-gap;
      }
      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: variables.$head-gap;
      }
    }
    &-right {
      display: flex;
      align-items: end;
      flex-direction: column;
      justify-content: space-between;

      height: 100%;

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: variables.$head-gap;
      }
      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: variables.$head-gap;
      }
    }
  }

  & .main-body-box {
    display: flex;

    overflow: hidden;

    &-left {
      transition: all 0.5s ease-in-out;

      overflow: scroll;
      @include mixins.removeScrollbar;
    }
    &-right {
      transition: all 0.5s ease-in-out;
      border-radius: variables.$radius-md;
      overflow: scroll;
      @include mixins.removeScrollbar;
      border: 1px solid variables.$color-blue;
      background: variables.$bg-rotate;
    }
  }

  &-scroll-container {
    width: 100%;
    overflow-y: scroll;
    display: grid;
    gap: variables.$head-gap;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));

    @include mixins.removeScrollbar;
  }
}
