@use "../abstract/variables" as variables;

.main-body {
  display: grid;
  grid-template-rows: minmax(8rem, auto) 1fr;
  gap: 1rem;
  height: calc(100vh - variables.$body-start-margin);
  width: calc(100% - variables.$body-start-margin);
  margin-left: variables.$body-start-margin;
  margin-top: variables.$body-start-margin;

  & .main-body-head {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: start;
      justify-content: space-between;
      height: 100%;

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
      }
      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
      }
    }
  }

  & .main-body-box {
    display: flex;
    transition: all 1s ease-in-out;
    overflow: hidden;

    &-left {
      transition: all 0.5s ease-in-out;
      background-color: variables.$color-blue;
      overflow: scroll;
    }
    &-right {
      transition: all 0.5s ease-in-out;
      background-color: variables.$color-black;
    }
  }

  &-scroll-container {
    width: 100%;
    min-height: 200vh;
    background-color: variables.$color-white;
    overflow-y: scroll;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 22rem);
  }
}
