@use "../abstract/variables" as variables;
.logocontainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  padding: variables.$padding-md;


  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  &-left-greeting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;

  }
  &-left-greeting-user {
    font-size: 1.5rem;
    // font-weight: 600;
  }
  &-left-greeting-text {
    font-size: 1.5rem;
    color: gray;
    // text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    // font-weight: 500;
  }

  &-rightlogo {
    width: 2.5rem;
    height: 2.5rem;
    background-color: variables.$color-white;
    object-fit: cover;
  }

  &-leftlead {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    h2 {
      font-size: 1.5rem;
    }

    &-bell {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      // background-color: variables.$color-white;
      display: flex;
      align-items: center;
      justify-content: center;

      &-icon {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &-photo {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
