@use "../abstract/variables" as variables;
@use "../abstract/mixins";
.chatbox {
  border-radius: variables.$radius-lg;
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: space-between;

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &-profilehead {
      display: flex;
      gap: 4px;

      &-pic {
        width: 35px;
        border-radius: 50%;
      }
      &-online {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h6 {
          font-size: 12px;
          font-weight: 400;
          color: grey;
        }
      }
    }

    &-title {
      display: flex;
      align-items: start;
      justify-content: start;
      font-size: large;
      text-transform: capitalize;
      font-weight: 600;
    }

    &-back {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: variables.$color-blue;
      border: none;
      cursor: pointer;
    }
  }
  &-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1px;
    gap: 5px;
    position: relative;
    position: static;

    &-input {
      background: white;
      resize: none;
      font-size: variables.$font-size-sm;
      height: 40px;
      margin: 0;
      padding: 5px 10px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid variables.$color-gray-mid;
      outline: none;
      transition: border-color 0.2s ease;
      padding-right: 70px;
      font-family: "Inter", sans-serif;
      font-size: 14px;

      &::placeholder {
        font-size: variables.$font-size-md;
        color: rgb(105, 105, 105);
      }

      &:focus {
        border-color: variables.$color-blue;
        background: lighten(variables.$color-gray, 2%);
      }
    }
  }
  &-scroll {
    display: flex;
    flex-direction: column;
    height: 19rem;
    font-size: small;
    overflow-y: scroll;
    @include mixins.removeScrollbar;

    p {
      padding: 12px 12px;
      border-radius: 18px;
      width: fit-content;
      max-width: 100%;
      font-size: variables.$font-size-sm;
      line-height: 1.4;
      margin: 4px 0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      word-wrap: break-word;
    }
  }

  &-message {
    margin: variables.$margin-xs 0;
    border-radius: variables.$radius-xs;
    max-width: 70%;
    display: inline-block;

    &-sent {
      align-self: flex-end;
      text-align: right;

      p {
        background-color: variables.$color-blue;
        color: white;
        border-bottom-right-radius: 4px;
        font-size: 14px;
      }
    }

    &-received {
      align-self: flex-start;

      p {
        background-color: variables.$color-gray;
        font-size: 14px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
