@use "../abstract/variables" as variables;
@use "../abstract/mixins";
.chatbox {
  border-radius: variables.$radius-lg;
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: space-between;

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &-profilehead {
      display: flex;
      gap: 4px;

      &-pic {
        width: 35px;
        border-radius: 50%;
      }
      &-online {
        display: flex;
        flex-direction: column;
        // font-weight: 300;
      }
    }

    &-title {
      display: flex;
      align-items: start;
      justify-content: start;
      font-size: large;
    }

    &-back {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: variables.$color-blue;
      border: none;
      cursor: pointer;
    }
  }
  &-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // background-color: rgba(24, 23, 23, 0.3);
    padding: 1px;
    gap: 5px;
    position: relative;
    position: static;

    &-input {
      // border: none;
      // outline: none;
      background: none;
      resize: none;
      font-size: variables.$font-size-sm;
      height: 25px;
      margin: 0;
      padding-top: 3px;
      padding-left: 5px;
      width: 100%;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::placeholder {
        font-size: variables.$font-size-sm;
      }
    }
  }
  &-scroll {
    display: flex;
    flex-direction: column;
    height: 19rem;
    font-size: small;
    overflow-y: scroll;
    @include mixins.removeScrollbar;

    p {
      // background-color: variables.$color-light-blue;
      padding: variables.$padding-xs variables.$padding-sm;
      border-radius: variables.$radius-md;
      width: fit-content;
      font-size: variables.$font-size-xs;
      border: 0.1px solid variables.$color-gray-mid;
    }
  }

  &-message {
    margin: variables.$margin-xs 0;
    border-radius: variables.$radius-xs;
    max-width: 70%;
    display: inline-block;

    &-sent {
      align-self: flex-end;
      text-align: right;
    }

    &-received {
      background-color: variables.$color-gray;
      align-self: flex-start;
    }
  }
}
