.assign-form {
  display: flex;
  flex-direction: column;

  &-head {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
