@use "../../abstract/variables" as variables;
.document-upload {
  background-color: variables.$color-white;
  border-radius: variables.$radius-md;
  gap: variables.$general-gap;
  min-height: fit-content;
  padding: variables.$padding-lg 2rem;

  &-document-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: variables.$margin-lg;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: variables.$color-blue variables.$color-gray-light;

    &-add-on {
      background-color: variables.$color-gray;
      height: 10rem;
      width: 100%;
      border-radius: variables.$radius-sm;
      padding: variables.$padding-md;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  &-form{
    margin: 2px 0;
    padding: 5px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &-form-input{
    width: 100%;
    padding: 4px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-size: 0.95rem;
  }

  &-form-label{
  display: block;
  padding: 4px 6px;
  background-color: #e9ecef;
  border: 1px dashed #adb5bd;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
    margin-bottom: 5px;
    width: 150px;
    margin: 0 auto;
  }
}
