@use "../../abstract/variables";

.entry-requirements {
  background-color: variables.$color-white; // Light blue background
  padding: 20px;
  border-radius: 10px;

  h2 {
    font-size: variables.$font-size;
    font-weight: bold;
    margin-bottom: 15px;
    color: variables.$color-black;
  }

  .requirements-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: variables.$general-gap;
    justify-items: center;

    .requirement-item {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: variables.$color-black;

      .requirement-bullet {
        margin-right: 8px;
        color: variables.$color-black;
        font-size: variables.$font-size;
      }
    }
  }
}
