@use "../../abstract/variables" as variables;

.cardUniversity {
  background-color: variables.$color-white;
  height: variables.$card-maxheight;
  border-radius: variables.$radius-md;
  padding: variables.$padding-md;
  transition: all 0.3s ease-in-out;

  cursor: pointer;
  &-head {
    padding: variables.$padding-sm;
  }
  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 0.71em;

    &-top {
      display: flex;
      align-items: end;
      justify-content: space-between;
      margin-top: 1.5rem;
      height: 3.5rem;
    }
    &-mid {
      flex: 2;

      border-radius: variables.$radius-md;
      overflow: hidden;
      border: 1px solid rgb(206, 206, 206);
      margin-top: 0.71em;

      & textarea {
        width: 100%;
        height: 100%;
        padding: 1rem;
        color: variables.$color-text-gray;
        border: none;
        outline: none;
        background-color: variables.$color-gray;
      }
    }
    &-bottom {
      flex: 1;

      &-iconsUniversity {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 0.5rem;
      }

      &-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
        gap: 0.71em;

        &-item {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-weight: 500;
        }
      }

      &-countryEligible {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 4rem;

        //   &-country {
        //     display: flex;
        //     align-items: end;
        //     justify-content: space-between;
        //     margin-bottom: 0.5rem;

        &-count {
          background-color: variables.$color-blue;
          color: variables.$color-white;

          border-radius: 5rem;
          height: 2.5rem;
          width: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.cardHead {
  font-weight: 500;
  width: 20rem;
}
