@use "../abstract/variables";

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem 0.5rem;

  height: variables.$btn-height;

  &-on {
    background-color: variables.$color-prime;
    color: variables.$color-black;
    border-radius: 15px;
    padding: 5px 20px;
  }
}

.btn-auto {
  background-color: variables.$color-black;
  color: variables.$color-white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  &-off {
    background-color: variables.$color-red;
    color: variables.$color-black;
    border-radius: 15px;
    padding: 5px 20px;
  }

  &.btn-auto-on .btn-auto-off {
    background-color: variables.$color-prime;
    color: variables.$color-black;
  }
}
.primarybtn {
  background-color: variables.$color-blue;
  height: variables.$btn-height;
  color: variables.$color-white;
  border: none;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
