@use "../abstract/variables";

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem;
  height: variables.$btn-height;
  font-weight: variables.$font-bold;
  font-size: variables.$font-size;
  display: flex;
  align-items: center;
  justify-content: center;

  &-on {
    background-color: variables.$color-prime;
    color: variables.$color-black;
    border-radius: 15px;
    padding: 5px 20px;
  }
}

.primary-btn {
  background-color: variables.$color-blue;
  color: variables.$color-white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-btn {
  padding: 5px 20px;
  height: fit-content;
  font-size: variables.$font-size-small;
}

.btn-auto {
  background-color: variables.$color-black;
  color: variables.$color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: variables.$btn-height;
  padding-left: 1.5rem;

  &-off {
    background-color: variables.$color-red-light;
    color: variables.$color-black;
    border-radius: 15px;
    padding: 5px 20px;
  }

  &.btn-auto-on .btn-auto-off {
    background-color: variables.$color-prime;
    color: variables.$color-black;
  }
}
.countrybtn {
  background-color: variables.$color-gray-dark;
  color: variables.$color-white;
  padding: 5px 20px;
  height: fit-content;
}

.secondry-btn {
  background-color: variables.$color-black;
  color: variables.$color-white;
  padding: 10px 20px;
  height: fit-content;
}
