@use "../abstract/variables" as variables;

.profileCard {
  height: fit-content;
  width: 100%;
  padding: variables.$general-gap;
  display: flex;
  flex-direction: column;
  gap: variables.$general-gap;

  &-head {
    background-color: transparent;

    &-info {
      background-color: variables.$color-white;
      height: 7.5rem;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: 0rem variables.$padding-md;

      &-details {
        display: flex;
        align-items: start;
        height: 100%;
        padding: variables.$padding-md;
      }

      &-person-data {
        display: flex;
        align-items: start;
        justify-content: space-between;
        height: 100%;
        flex-direction: column;
        gap: 0.5rem;
      }

      img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        background-color: variables.$color-gray;
        border-radius: 50%;
        overflow: hidden;
      }

      &-location-card {
        display: flex;
        flex-direction: column;
      }
      &-location {
        color: variables.$color-text-gray;
        font-size: variables.$font-size;
      }
      &-underline {
        height: 1px;
        width: 100%;
        background-color: variables.$color-light-blue;
      }

      &-right-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        display: flex;
        padding: 10px 20px;
        border-radius: variables.$radius-md;
        border-width: 1px;
        border-style: solid;
        border-color: variables.$color-text-gray;
        height: min-content;
      }

      &-keys {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }

      &-assigners {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        color: variables.$color-black;
        font-weight: variables.$font-bold;
      }
    }
  }
  &-journy {
    // background-color: variables.$color-white;
    height: 8rem;
  }

  &-boxes {
    display: flex;
    gap: variables.$general-gap;
  }

  &-box {
    background-color: variables.$color-white;
    flex: 1;
    height: 30rem;
    border-radius: variables.$radius-md;
  }
}

// add styling
.personal {
  &-status {
    background-color: variables.$color-gray-light;
    display: flex;
    flex-direction: column;
    padding: variables.$padding-lg 2rem;
    height: fit-content;

    &-bottom-set {
      padding: variables.$margin-md;
      display: flex;
      flex-direction: column;
    }

    &-elements {
      display: flex;
      flex-direction: column;
    }
    &-html-for {
      font-size: 1rem;
      font-weight: 400;
      height: 1.5rem;
      margin: variables.$margin-sm variables.$margin-md;
      color: variables.$color-text-gray;
    }
    &-selectors {
      font-size: 1rem;
      font-weight: 400;
      color: variables.$color-text-gray;
    }
  }

  &-details {
    background-color: variables.$color-gray-light;
    display: flex;
    flex-direction: column;
    padding: variables.$padding-lg 2rem;
    height: 41rem;

    &-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-editable-detail {
      height: 10px;
    }

    &-mark-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: variables.$margin-lg;
      gap: 1rem;
      align-items: center;
      justify-content: start;
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: variables.$color-blue variables.$color-gray-light;
    }

    &-mark-container::-webkit-scrollbar {
      width: 8px;
    }

    &-mark-container::-webkit-scrollbar-thumb {
      background-color: variables.$color-blue;
      border-radius: 10px;
    }

    &-mark-container::-webkit-scrollbar-track {
      background-color: variables.$color-gray-light;
      border-radius: 10px;
    }

    &-green-card {
      background-color: variables.$color-prime;
      height: 5rem;
      width: 5rem;
      border-radius: variables.$radius-sm;
      padding: variables.$padding-md;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      gap: 1rem;

      &-add-btn {
        background-color: variables.$color-gray;
        height: 5rem;
        width: 5rem;
        border-radius: variables.$radius-sm;
        padding: variables.$padding-md;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-plus {
        font-size: variables.$icon-size;
        color: variables.$color-black;
      }
      &-text {
        text-align: center;
      }
      &-percentage {
        display: flex;
        justify-content: start;
        align-items: center;
        font-weight: 600;
      }
    }

    &-subset {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: variables.$padding-md 0rem;
    }

    &-subset-with-wtsp {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-key-value {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
    }

    &-edit-input {
      border: 1px solid variables.$color-gray-mid;
      border-radius: 5px;
      padding: 3px;
      width: 100%;
      box-sizing: border-box;
    }

    &-edit-input:focus {
      border-color: variables.$color-gray-mid;
      outline: none;
    }
    &-group-icons {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}

.start-application {
  position: sticky;
  bottom: 0;
  height: 15rem;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 3rem;
  font-weight: 500;
}
