@use "../abstract/variables";
.select-container {
  padding: 0rem 1rem;
  height: variables.$btn-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$color-gray-light;
  border-radius: 5rem;
  .custom-select {
    width: 100%;
    font-size: 15px;
    color: variables.$color-black;
    background-color: variables.$color-gray-light;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: variables.$color-gray-light;
    }
    option {
      color: black;
      background-color: variables.$color-gray-light;
    }
  }
}
