@use "../abstract/variables" as variables;

.progress-tracker {
  width: 100%;

  &__container {
    margin: 0 auto;
    padding: variables.$padding-md;
    display: flex;
    flex-direction: column;
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    // background-color: rgb(223, 215, 215); /* Default gray background */
    border-radius: variables.$radius-md;
    height: 90%;

    &::before {
      content: "";
      border-radius: variables.$radius-md;
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 100%;
      background: linear-gradient(
        to right,
        #85cde9 0%,
        #c3dfeb var(--completed-width, 0%),
        rgba(167, 211, 228, 0) calc(var(--completed-width, 0%) + 18%)
      );
      z-index: 0;
      transition: background 0.3s ease-in-out;
      box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.05);
    }
  }

  &__step {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    // padding: 0.5rem;
  }

  &__dot {
    width: 16px;
    height: 16px;
    border-radius: variables.$radius-sm;
    background-color: rgb(194, 166, 166);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-7px);

    &--completed {
      background-color: variables.$color-green;
      box-shadow: 0 0 5px 2px rgba(25, 128, 38, 0.5);
      //   z-index: 1;
      //   ring: 3px solid variables.$color-green;
    }
  }

  &__label {
    font-size: variables.$font-size-small;
    color: rgb(41, 41, 41);
    transform: translateY(-20px);
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__university {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    border-radius: variables.$radius-md;
    padding: variables.$margin-sm variables.$margin-sm;
    border: 1px solid rgb(119, 119, 119);

    &-name {
      font-size: variables.$font-size-small;
      color: rgb(119, 119, 119);
    }

    &-button {
      margin-left: 0.5rem;
      color: variables.$color-blue;
    }
  }

  &__all-apps {
    font-size: variables.$font-size-small;
    color: gray;
    background: none;
    border: none;
  }
}
