@use "../../abstract/variables" as variables;

.enrollment-card {
  background-color: variables.$color-white;
  border-radius: variables.$radius-lg;
  padding: variables.$padding-md 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

  &__chart {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 16px;

    .chart-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .bar {
        width: 24px;
        background: variables.$color-blue-shadow;
        border-radius: variables.$radius-sm;
        position: relative;
        transition: height 0.3s ease;

        &--active {
          background: variables.$color-blue;

          .bar__badge {
            background: variables.$color-prime;
            color: variables.$color-black;
            font-size: variables.$font-size-sm;
            padding: 4px 8px;
            border-radius: 12px;
            position: absolute;
            top: -24px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      .month-label {
        margin-top: 8px;
        font-size: variables.$font-size-sm;
        color: variables.$color-text-gray;
      }
    }
  }

  .monthly-chart {
    height: 9.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;

    .percentage-badge {
      background: variables.$color-green;
      color: variables.$color-white;
      padding: 4px 8px;
      border-radius: 12px;
      font-size: variables.$font-size-sm;
      font-weight: 500;
    }

    .status-text {
      color: #666;
      font-size: 14px;
    }
  }

  &__progress {
    padding: 0rem 1rem;

    .progress-numbers {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      .value {
        font-size: 24px;
        font-weight: 600;
        display: block;
      }

      .label {
        font-size: 14px;
        color: #666;
      }
    }

    .progress-bar {
      height: 2.5rem;
      background: #f5f5f5;
      overflow: hidden;
      position: relative;
      margin-bottom: 8px;

      &__start-cap,
      &__end-cap {
        position: absolute;
        top: -1px;
        width: 3px;
        height: 40px;
        background: #000;
        z-index: 2;
      }

      &__start-cap {
        left: 0;
      }

      .progress-fill {
        height: 100%;
        background: linear-gradient(
          90deg,
          #dde1ee 0%,
          variables.$color-violet 100%
        );
        transition: width 0.3s ease;
        position: relative;
        border-radius: variables.$radius-xs;
      }

      .progress-remaining {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 78%;
        background: repeating-linear-gradient(
          -45deg,
          transparent 1px,
          variables.$color-violet 4px
        );
        border-radius: variables.$radius-xs;
      }
    }

    .target-difference {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: variables.$radius-xs;
      border: 1px solid variables.$color-gray-mid;
      margin: 0rem 2.8rem;
      margin-top: 1rem;
      color: variables.$color-text-gray;

      span {
        background: variables.$color-gray-light;
        color: variables.$color-text-gray;
        padding-right: 0.5rem;
        color: variables.$color-black;
      }
    }
  }
}
