* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

body {
  font-family: "Inter", sans-serif;
}

main {
  padding: 2rem;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.name-small {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-number {
  font-size: 1rem;
  font-weight: 400;
  color: #757575;
}

.body-bg {
  background: linear-gradient(to bottom, #f9f9f9, #c4ecf7, #b3e7f5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.search-bar {
  width: 18rem;
  height: 2.5rem;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.rotate {
  transform: rotate(180deg);
}

.navbar {
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  z-index: 100;
  width: 3rem;
  background-color: #000000;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.navbar li {
  list-style: none;
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #000000;
}

.main-body {
  display: grid;
  grid-template-rows: minmax(fit-content, auto) 1fr;
  gap: 1.2rem;
  height: calc(100vh - 3rem);
  width: calc(100% - 3rem);
  margin-left: 3rem;
  margin-top: 3rem;
}
.main-body .main-body-head {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-body .main-body-head-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  height: 100%;
  gap: 1.2rem;
}
.main-body .main-body-head-left-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.main-body .main-body-head-left-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.main-body .main-body-head-right {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main-body .main-body-head-right-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.main-body .main-body-head-right-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.main-body .main-body-box {
  display: flex;
  overflow: hidden;
}
.main-body .main-body-box-left {
  transition: all 0.5s ease-in-out;
  overflow: scroll;
  scrollbar-width: none;
}
.main-body .main-body-box-left::-webkit-scrollbar {
  display: none;
}
.main-body .main-body-box-right {
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
  overflow: scroll;
  scrollbar-width: none;
  border: 1px solid #0075fc;
  background: linear-gradient(to bottom, rgba(249, 249, 249, 0.5), #c4ecf7, #b3e7f5);
  position: relative;
}
.main-body .main-body-box-right::-webkit-scrollbar {
  display: none;
}
.main-body-scroll-container {
  width: 100%;
  overflow-y: scroll;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  scrollbar-width: none;
}
.main-body-scroll-container::-webkit-scrollbar {
  display: none;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem;
  height: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-on {
  background-color: #cff3a6;
  color: #000000;
  border-radius: 15px;
  padding: 5px 20px;
}

.primary-btn {
  background-color: #0075fc;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-btn {
  padding: 5px 20px;
  height: fit-content;
  font-size: 0.8rem;
}

.btn-auto {
  background-color: #000000;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 2.5rem;
  padding-left: 1.5rem;
}
.btn-auto-off {
  background-color: #fd6363;
  color: #000000;
  border-radius: 15px;
  padding: 5px 20px;
}
.btn-auto.btn-auto-on .btn-auto-off {
  background-color: #cff3a6;
  color: #000000;
}

.countrybtn {
  background-color: #4c4c4c;
  color: #f9f9f9;
  padding: 5px 20px;
  height: fit-content;
}

.secondry-btn {
  background-color: #000000;
  color: #f9f9f9;
  padding: 10px 20px;
  height: fit-content;
}

.select-container {
  padding: 0rem 1rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 5rem;
}
.select-container .custom-select {
  width: 100%;
  font-size: 15px;
  color: #000000;
  background-color: #f9f9f9;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}
.select-container .custom-select:hover {
  background-color: #f9f9f9;
}
.select-container .custom-select option {
  color: black;
  background-color: #f9f9f9;
}

.card {
  background-color: #f9f9f9;
  height: 19rem;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 0.71em;
}
.card-body-top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 1.5rem;
  height: 3.5rem;
}
.card-body-mid {
  flex: 2;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgb(206, 206, 206);
  margin-top: 0.71em;
}
.card-body-mid textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: #757575;
  border: none;
  outline: none;
  background-color: #e8e8e8;
}
.card-body-bottom {
  flex: 1;
}
.card-body-bottom-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  gap: 0.71em;
}
.card-body-bottom-icons-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}
.card-body-bottom-country {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.card-body-bottom-country-count {
  background-color: #0075fc;
  color: #f9f9f9;
  border-radius: 5rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}
.mover-item {
  flex: 1;
  height: 0.6rem;
  background-color: #60bdff;
  border-radius: 1.5rem;
}
.mover-gray {
  background-color: #e8e8e8;
}

.name-bar {
  display: flex;
  align-items: start;
  gap: 1rem;
  height: 100%;
}
.name-bar-img {
  background-color: #e8e8e8;
  height: 120%;
  border-radius: 50%;
  overflow: hidden;
}
.name-bar-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name-bar-name {
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  gap: 0.5rem;
}
.name-bar-name-whatsapp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profileCard {
  height: fit-content;
  width: 100%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.profileCard-head {
  background-color: transparent;
}
.profileCard-head-info {
  background-color: #f9f9f9;
  height: 7.5rem;
}
.profileCard-journy {
  background-color: #f9f9f9;
  height: 7.5rem;
}
.profileCard-boxes {
  display: flex;
  gap: 1.2rem;
}
.profileCard-box {
  background-color: #f9f9f9;
  flex: 1;
  height: 30rem;
  border-radius: 1rem;
}

.start-application {
  position: sticky;
  bottom: 0;
  height: 15rem;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 3rem;
  font-weight: 500;
}

/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
.selectedCard {
  background-color: rgb(216, 255, 216);
}
